:root {
  --background: #000000;
  --foreground: #fff;
  --part-bg: #fbca04;
  --error-color: #ff7587;
  /* --adm-mask-z-index: 2000; */
}

:root body {
  --adm-font-family: Unbounded, Arial, Helvetica, sans-serif;
  --w3m-z-index: 9999;
}

html,
body {
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;

}

div.adm-image-uploader {
  --cell-size: 100px;
}

@font-face {
  font-family: "Unbounded";
  src: url("/font/Unbounded-VariableFont_wght.ttf");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "FingerPaint";
  src: url("/font/FingerPaint-Regular.ttf");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Lilita One";
  src: url("/font/LilitaOne-Regular.ttf");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

html,
body {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background: var(--background);
}

body {
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-container> :first-child {
  flex: 1;
  overflow: hidden;
}

.adm-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: white;
  border-top: solid 1px #eee;
  z-index: 100;
}

@media (prefers-color-scheme: dark) {
  .adm-tab-bar {
    background: transparent;
    border-top-color: #333;
  }
}

.adm-button.main-btn {
  background: var(--part-bg);
  border: none;
  color: #fff;
  width: 100%;
  font-family: var(--adm-font-family);
  border-radius: 100px;
  height: 60px;
  font-size: 16px;
}

.adm-modal .adm-center-popup-wrap {
  max-width: 96vw;

  .adm-center-popup-body {
    background-color: #18131c;
    border-radius: 20px;
    padding: 0;

    .adm-modal-content {
      padding: 0;
      max-height: 85vh;
      overflow: hidden;
    }
  }
}

.adm-popup .adm-popup-body {
  background-color: #252328;
  border: 1px solid #3B3B3B;
}

.adm-toast-mask div.adm-toast-main {
  top: 40px !important;
  max-width: 366px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 20px;
}

@media screen and (min-width: 960px) {
  .adm-toast-mask div.adm-toast-main {
    margin-left: calc(100vw - 386px);
    top: 98px !important;
  }
}

.adm-toast-mask .adm-toast-main-icon div.adm-toast-icon {
  margin-bottom: 0;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /**/
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* reset start */
button {
  background: transparent;
  border: none;
}

input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Unbounded";
}

input::placeholder,
textarea::placeholder {
  color: #7e8a93;
}

/* reset end */

.button {
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.adm-picker-header-button {
  color: #fff;
}

.adm-picker .adm-picker-view.adm-picker-view {
  background: rgba(18, 23, 25, 1);
  color: #fff;
}

.adm-picker-view-column {
  background: rgba(18, 23, 25, 1);
}

div.adm-picker-view-mask-top {
  background: rgba(18, 23, 25, 1);
}

div.adm-picker-view-mask-bottom {
  background: rgba(18, 23, 25, 1);
}

div.adm-tab-bar-wrap {
  overflow: visible;
}

.buy-sell-modal.adm-modal .adm-center-popup-wrap div.adm-center-popup-body {
  background-color: transparent;
}

.no-bg.adm-modal .adm-center-popup-wrap div.adm-center-popup-body {
  background-color: transparent;
}

.trans-flip.adm-modal .adm-center-popup-wrap .adm-center-popup-body .adm-modal-content {
  max-height: 100vh;
  overflow: visible;
}

.trans-flip.adm-modal .adm-modal-body {
  overflow: visible;
}

.adm-modal .adm-mask {
  backdrop-filter: blur(10px);
}

.adm-checkbox div.adm-checkbox-icon {
  border-radius: 2px;
}

.adm-checkbox.adm-checkbox-checked div.adm-checkbox-icon {
  border-color: rgba(146, 144, 177, 0.6);
  background-color: var(--part-bg);
}

.final-like-modal .adm-center-popup-wrap {
  top: calc(100% - 120px) !important;
}

.cropper-flip-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0);
  z-index: 9999;
  font-family: Unbounded;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cropper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: Unbounded;
}

.croppie-container {
  /* height: auto !important; */
}

.cr-slider::-webkit-slider-runnable-track {
  background: rgba(146, 144, 177, 0.6) !important;
  border-radius: 5px;
}

/* for smart share confirm */

.global-checkbox-container .adm-checkbox div.adm-checkbox-icon {
  border-radius: 6px;
  width: 20px;
  height: 20px;
  border: 1px solid #3b3b3b;
  background-color: rgba(0, 0, 0, 0.5);
}

.global-checkbox-container .adm-checkbox.adm-checkbox-checked div.adm-checkbox-icon {
  border-color: rgba(146, 144, 177, 0.6);
  color: #fbca04;
}

.croppie-container .cr-viewport,
.croppie-container .cr-resizer {
  border: none !important;
}

/* 
.global-checkbox-container .adm-checkbox.adm-checkbox-checked div.adm-checkbox-icon {
  background-color: transparent;
} */

.adm-switch-handle {
  border: 1px solid #000;
}

.adm-switch[aria-checked="false"] .adm-switch-checkbox {
  background-color: transparent !important;
}

.adm-switch[aria-checked="false"] .adm-switch-checkbox:before {
  left: 0px;
  top: 0px;
  background-color: #3b3b3b;
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
}

.adm-switch[aria-checked="false"] .adm-switch-handle {
  background-color: #00000066;
}